<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorTarefas</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tarefa/listar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listar Tarefa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tarefa/listarporusuario">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tarefa X Usuário
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tarefa/criar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Criar Tarefa
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuario/criar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Criar Usuario
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuario/listar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listar Usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empresa/criar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Criar Empresa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empresa/listar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listar Empresa
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="setor/criar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Criar Setor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="setor/listar">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Listar Setores
            </NavLink>
        </div>

    </nav>
</div>

